
/* #content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

#user_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
}
#user_repos{
    display: flex;
    flex-direction: wrap;
} */

body{
    background-color: rgb(10, 81, 81);

}
#search{
    padding: 1rem;
}
#input_box {
    height: 3rem;
    width: 45%; 
    margin-right: 5rem;
    margin-left: 20rem;
    font-size: 1rem;
}

#submit_box {
    height: 3rem;
    width: 10%; 
    margin-left: 5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border-style: 1px solid black;
} 
#user{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin:auto;
    border: 1px solid black;
    border-radius: 2rem;
    background-color: rgba(240, 255, 255, 0.379);

}

#user_profile{
    width: 30%;
    /* background-color: greenyellow; */
    padding: 2rem;

}

#user_repos{
    width: 30%;
    height: 34rem;
    /* background-color: green; */
    padding-top: 2rem;
}
#outer{
    height:100%;
    overflow: auto;
}
.container{
    border: 1px solid black;
    padding: 0.64rem 1rem;
    font-weight: 600;
}

.items{
    border: 1px solid black;
    padding: 1rem;
    font-weight: 600;
}
#info_image{
    display: flex;
    justify-content: center;
}
img{
    height: 15em;
    width: 75%;
}




/* #search {
    display: flex;
    justify-content: center;
    
}

#form_search {
    display: flex;
    width: 100%;

}

#input_box {
    flex: 1; 
    height: 2rem;
    box-sizing: border-box;
}

#submit_box {
    height: 2rem;
} */
