#search {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

#search p{
    font-size: 1rem;
    padding: 1rem;
    font-weight: bold;
}
#searchBox {
    font-size: 1rem;
}

#list p{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
table {
    width: 30%;
    margin: 0 auto;
    border-collapse: collapse;

}
th, td {
    border: 1px solid black;
    padding: 8px;
    width: 33.33%;
}
th{
    text-align: left;
}

#noResult {
    text-align: center;
    visibility: hidden;
    color: red;
}