
#phoneAdd{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-phone{
    padding: 3rem;
    background-color: rgb(86, 196, 218);
    border-radius: 1rem;
    border: solid 5px rgb(35, 143, 165);
}
#phoneAdd input{
    height: 2rem;
    border-radius: 0.5rem;
    border-style: none;
}
#addContact:hover {
    background-color: rgb(210, 202, 202);
    cursor: pointer;
}

#search {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

#search p{
    font-size: 1rem;
    padding: 1rem;
    font-weight: bold;
}
#searchBox {
    font-size: 1rem;
}

#list p{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
table {
    width: 30%;
    margin: 0 auto;
    border-collapse: collapse;

}
th, td {
    border: 1px solid black;
    padding: 8px;
    width: 33.33%;
}
th{
    text-align: left;
}

#noResult {
    text-align: center;
    display: none;
    color: red;
}